<template name="home" >
    <h1>Hello, Hot Security says Welcome !</h1>
    <h2>Mister</h2>
    <h3>You have just landed in hell!</h3>

    <br/><br/><br/><br/>

    <form>
            <input type="email" id="email_send" class="form-control" style="width:80%;margin-left:10%;" placeholder="Your Mail Please !"/><br />
        <h2>Insert your GitHub link here to scan your project Please !</h2><br>
        <input type="url" id="link_github" class="form-control" style="width:80%;margin-left:10%;" placeholder="Your link please!" required /><br /><br>
        <input type="submit" class="btn btn-primary btn-lg btnLinkGit" value=" SCANNER "/>
    </form>





    <br><br><div id="affiche_result_link"></div>
</template>